Django==5.2.5
strawberry-graphql[django]==0.280.0
django-cors-headers==4.7.0
channels==4.2.2
channels-redis==4.2.1
psycopg[binary]==3.2.9
redis==6.4.0
python-dotenv==1.1.1
uvicorn[standard]==0.35.0
djangorestframework==3.16.0
twilio
cloudinary
daphne
qrcode
Pillow
reportlab
whitenoise==6.8.2

razorpay==2.0.1
